#main-container {
  padding: 2em;
  border-style: solid;
  margin: 5px;
  align-self: auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0px;
  padding: 1em;
  background-color: grey;
}

#utility-nav {
  background-color: grey;
}

body {
  background-color: #5b6d8c;
  color: white;
}
